amqp==5.3.1
appdirs==1.4.4
appnope==0.1.4
asgiref==3.9.1
asttokens==3.0.0
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
beautifulsoup4==4.13.4
billiard==4.2.1
black==25.1.0
bleach==6.2.0
boto3==1.26.83
botocore==1.29.165
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
channels==4.3.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
comm==0.2.3
constantly==23.10.4
croniter==6.0.0
cryptography==45.0.6
daphne==4.2.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
dj-rest-auth==3.0.0
Django==4.2.7
django-allauth==0.52.0
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.14.6
djangorestframework==3.14.0
execnb==0.1.14
executing==2.2.0
fastcore==1.8.7
fastjsonschema==2.21.2
flake8==7.3.0
gevent==25.5.1
greenlet==3.2.4
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.7.0
incremental==24.7.2
ipykernel==6.30.1
ipython==9.4.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.0.3
itables==2.4.4
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
kombu==5.5.4
Markdown==3.3.6
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mercury==2.4.3
mistune==3.1.3
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==2.3.1
oauthlib==3.3.1
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.8
Prettifier==0.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.22
pyee==8.2.2
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.1.0
pyppeteer==1.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.2
referencing==0.36.2
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.26.0
s3transfer==0.6.2
service-identity==24.2.0
setuptools==80.9.0
shortuuid==1.0.13
six==1.17.0
soupsieve==2.7
SQLAlchemy==1.4.27
sqlparse==0.5.3
stack-data==0.6.3
tinycss2==1.4.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
whitenoise==6.9.0
widgetsnbextension==4.0.14
zipp==3.23.0
zope.event==5.1.1
zope.interface==7.2
